@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
        font-family: "Poppins", system-ui;
        font-weight: 500;
        font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(Imagenes/Fondo.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;

}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;

}

.menu .navbar ul li a:hover {
    color: #CE967B;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content { 
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-top: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #ebad8b;
}

.Psicologia {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.Psicologia-content{
    text-align: center;
}

.Psicologia-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;

}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.Psicologia-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Psicologia-1 {
    padding: 0 20px;
}

.Psicologia-1 img {
    width: 200px;
}

.Psicologia-img {
    position: absolute;
    top: 0;
    right: 0;

}

.Psicologia-1 h3 {
    color: #323337;
    font-size: 15px;
    margin-bottom: 15px;
}

.Services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(ImagenesVideo/el-escritor-psicologo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.Services-content {
    text-align: center;

}

.Services-content h2 {
    font-size: 40px;
    line-height: 90px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.Services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
}

#Services-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;

}


.Services-group h3 {
    color: #eaccb3;
    font-size: 20px;

}

.general{
    display: flex;

}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;

}

.general-2 {
    background-image: url(ImagenesVideo/TerapiaPura.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(ImagenesVideo/PsicolgiaPura.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size:16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog{
    padding: 100px 0;
    text-align: center;
}

.blog-content{
   display: flex;
   justify-content: space-between; 

}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;

}

#section3{
    width: 100%;
    position: relative;
    background: url("ImagenesVideo/Torreparis.jpg");
    background-size: cover;    
}

.fila{
    display: flex;
}

#section3 .fila .card-vertical{
    width: 25%;
    padding: 800px 40px 40px;
    border-right: 1px solid #FFFFFF;
    background: transparent;
    transition: .4s;
    position: relative;
}

#section3 .fila .card-vertical:hover{
    background: #acacac40;
    backdrop-filter: blur(10px);
    display: flex;
}

#section3 .card-vertical h2{
    color: #FFFFFF;
    font-size: 34px;
    margin-bottom: 14px;
}

#section3 .card-vertical p{
    color: transparent;
    margin-bottom: 14px;
    font-size: 18px;
    transition: .4s;
}


#section3 .card-vertical .info-card{
    position: absolute;
    bottom: 40px;
    transition: .4s;
}

#section3 .card-vertical:hover .info-card{
    bottom: 140px;
}

#section3 .card-vertical:hover p{
    color: #FFFFFF;
}

.footer {
    padding: 100px 0;
    background-color: #000000;

}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

